
/* start  style header for site */
.img-header{
    width: 100%;
    height: auto;
    border-radius: 0 0 10px 10px ;

}
    .header-main{
        position: relative;
        border-radius: 10px;
    }
    .title-header{
    color: var(--whait);
    margin-left: 80px;

    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    }
    .title-header .button-m{
        font-size: 18px;
        color: var(--gray);
        margin-top: 10px;
        background-color: var(--green);
        padding: 8px 20px ;
        border-radius: 7px;
        border: none;
        margin-right: 10px;
        transition: all 0.6s;
    }
    .title-header .button-m:hover{
        transform: scale(1.1);
        border: 1px solid var(--whait);
    }
    .title-header .button-c{
        font-size: 18px;
        color: var(--whait);
        margin-top: 10px;
        background-color:#1e1e1ea1 ;
        padding: 8px 20px ;
        border-radius: 7px;
        border: 1px solid var(--whait);
        backdrop-filter: blur(4px);
        transition: all 0.6s;
    }
        .title-header .button-c:hover{
        transform: scale(1.1);
        border: 1px solid var(--whait);
    }
    .title-header h5{
        color: var(--green);
        font-size: 20px;
        word-spacing: 4px;
        
    }
    .title-header h2{
        font-size: 60px;

    }
    .title-header h6{
        font-size: 15px;
        font-weight: normal;
        word-spacing: 3px;
        color: #c4c4c4;
    }

@media screen  and (max-width:1085px) {
        .title-header{
            margin-left: 20px;
        }
        .title-header h2{
            font-size: 40px;
        }
        .title-header h6{
            font-size: 10px;
        }
        .title-header h5{
            font-size: 15px;
        }
        .title-header .button-c{
            font-size: 14px;
        }
        .title-header .button-m{
            font-size: 14px;
        }
        
    }
@media screen and (max-width:650px){
    .header-main{
        overflow: hidden;
        background-color:#000000;
    }    
    .img-header{
             height: 89.8vh;
            /* test background */
            width: auto;
            transform: rotate(-30deg) translate(-790px,-290px) scale(0.68);
           
            object-fit: cover; 
        }
        .title-header{
            top: 25%;
            margin-left: 20px;
        }
        .title-header h2{
            font-size: 50px;
        }
        .title-header h6{
            font-size: 15px;
        }
        .title-header h5{
            font-size: 20px;
        }
        .title-header .button-c{
            font-size: 18px;
        }
        .title-header .button-m{
            font-size: 18px;
        }
}
@media screen and (max-width:400px){
        .img-header{
             height: 89.8vh;
            /* test background */
            width: auto;
            transform: rotate(-28deg) translate(-680px,-210px) scale(0.58);
           
            object-fit: cover; 
        }
        .title-header{
            top: 25%;
            margin-left: 20px;
        }
        .title-header h2{
            font-size: 40px;
        }
        .title-header h6{
            font-size: 13px;
        }
        .title-header h5{
            font-size: 18px;
        }
        .title-header .button-c{
            font-size: 14px;
        }
        .title-header .button-m{
            font-size: 14px;
        }
}
    /* end  style header for site */